<!DOCTYPE html>
<html lang = 'en'>
<head>

<% include ../partials/head%>

</head>
<body id = 'container'>
	<header>
		<% include ../partials/header%> <h1> <%= page%></h1>
	</header>

	<nav>
		<% include ../partials/nav %>
	</nav>
	
	<div id = "bodyCentered">

	<p>any other content, and other pages can be created to express anything you might need.</p>
	</div>
	<% include ../partials/footer%>
	
</body>
</html>